* {
    border: none;
    margin: 0;
    padding: 0;
}

#head {
    text-align: center;
    font-size: 50px;
    color: #89CFF0;
    background-color: #7F1734;
}

#bar {
    float: right;
    font-size: 30px;
    letter-spacing: 3px;
}

#head, #bar {
    line-height: 70px;
}

#bar li {
    float: right;
    list-style-type: none;
    margin-right:30px;
}

#bar a {
    text-decoration: none;
    color: inherit;
}

#bar a:hover {
    border-bottom: 1px solid #7F1734
}

.about {
    text-align: center;
    line-height: 150px;
}

.past {
    text-align: center;
    line-height: 100px;
}

.present {
    text-align: center;
    line-height: 200px;
}

nav {
    display: flex;
    margin-right: auto;
    margin-left: auto;
}